@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.backimg {
  width: 50%;
  height: 100%;
}

.backimg img {
  width: 100%;
  height: 100%;
  background-color: #242348;
}

.signupsec {
  width: 350px;
  height: 100%;
  margin: 0 auto;
}

.signupsec_div {
  width: 100%;
  margin: 5% auto;
}

.welcome {
  width: 100%;
  margin-bottom: 36px;
}

.welcome h1 {
  letter-spacing: 7px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #43425D;
}

.welcome p {
  text-align: center;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4D4F5C;
  opacity: 50%;
}

.signupdiv input {
  font-size: 15px;
  padding-bottom: 6px;
  width: 100%;
  margin-bottom: 5px;
  border: transparent;
  border-bottom: 2px solid #E9E9F0;
}

.signupdiv input::-webkit-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #43425D;
}

.signupdiv input:-ms-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #43425D;
}

.signupdiv input::-ms-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #43425D;
}

.signupdiv input::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  color: #43425D;
}

.signupdiv input:hover {
  border-bottom-color: #43425D;
}

.signupdiv input:active {
  border-bottom-color: #3B86FF;
}

.signupdiv input:focus {
  outline: none;
}

.signupdiv button {
  display: block;
  margin: 0 auto;
  width: 46%;
  height: 50px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 20px;
  background-color: #43425D;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #43425D;
  cursor: pointer;
}

.signupdiv button:hover, .signupdiv button:focus {
  outline: none;
  background-color: #2F2E50;
}

.signupdiv button:disabled {
  background-color: #838296;
}

.newuser, .errorbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newuser input, .errorbar input {
  width: 90%;
}

#last_name {
  width: 100%;
}

.input-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.input-div input {
  border-bottom: 2px solid #E9E9F0;
}

.input-div span {
  visibility: hidden;
  text-transform: capitalize;
  display: block;
  width: 110%;
  height: 10px;
  color: #FF6565;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

.input-div.invalid.invalid-shown input {
  border-bottom: 2px solid #FF6565;
}

.input-div.invalid.invalid-shown span {
  visibility: visible;
}

.agreed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 36px;
}

.agreed input {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.agreed label {
  color: #43425D;
  font-family: 'Source Sans Pro', sans-serif;
}

.agreed label a:hover {
  text-decoration: underline;
}

.link {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #43425D;
  width: 100%;
  text-decoration: underline;
  text-align: center;
}

footer {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 19px;
}

footer p {
  text-align: center;
  font-size: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #43425D;
  color: #43425D;
  line-height: 13px;
}

@media screen and (max-width: 1024px) {
  .signupsec_div {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .backimg {
    width: 100%;
  }
  .signupsec {
    height: calc( 100% - 200px);
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100%;
    max-width: 400px;
  }
  .signupsec_div {
    margin: 50px auto;
  }
  .welcome h1, .welcome p {
    color: #fff;
  }
  .agreed label {
    color: #fff;
  }
  .link {
    color: #fff;
  }
  footer {
    left: 28%;
  }
  footer p {
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .signupsec {
    left: 15%;
  }
}

@media screen and (max-width: 500px) {
  .signupsec {
    width: 100%;
    max-width: 300px;
  }
  .signupsec_div {
    width: 100%;
    max-width: 300px;
  }
  .welcome h1 {
    font-size: 25px;
  }
  .welcome p {
    font-size: 15px;
  }
}

@media screen and (max-width: 370px) {
  .signupsec {
    width: 100%;
    max-width: 280px;
    left: 5%;
  }
  .welcome h1 {
    font-size: 20px;
  }
  .welcome p {
    font-size: 10px;
  }
}
/*# sourceMappingURL=signup.css.map */